
Temp/workerlic
Temp/UnityLockfile
Temp/tempFile.resS
Temp/tempFile.resG
Temp/tempFile.res
Temp/StagingArea/WindowsPlayer.exe
Temp/PlayerBuildAnalyticsEvents.json
Temp/FSTimeGet-e256ca42c0f6abc499d89863c94c0963
Temp/FSTimeGet-9fe4421e10d56c1498e33ccb4f5bb2ea
Temp/FSTimeGet-6b51a733bc9dec5459403ed4b8779c00
Temp/FSTimeGet-66e1f267e5bb1ce40a07367c42bc1c0a
Temp/__Backupscenes/0.backup
ProjectSettings/TagManager.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/DynamicsManager.asset
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker8-prev.log
Logs/AssetImportWorker7-prev.log
Logs/AssetImportWorker6-prev.log
Logs/AssetImportWorker5-prev.log
Logs/AssetImportWorker4-prev.log
Logs/AssetImportWorker3-prev.log
Logs/AssetImportWorker2.log
Logs/AssetImportWorker2-prev.log
Logs/AssetImportWorker1.log
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/SourceAssetDB
Library/Search/transactions.db
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/SceneVisibilityState.asset
Library/PlayerDataCache/Win64/Data/sharedassets1.assets
Library/PlayerDataCache/Win64/Data/level1.resS
Library/PlayerDataCache/Win64/Data/level1
Library/PackageManager/ProjectCache
Library/LastSceneManagerSetup.txt
Library/EditorUserBuildSettings.asset
Library/EditorInstance.json
Library/Bee/TundraBuildState.state.map
Library/Bee/TundraBuildState.state
Library/Bee/tundra.log.json
Library/Bee/tundra.digestcache
Library/Bee/Player59c1e4cd.dag_fsmtime
Library/Bee/Player59c1e4cd.dag_derived
Library/Bee/Player59c1e4cd.dag.payloads
Library/Bee/Player59c1e4cd.dag.outputdata
Library/Bee/Player59c1e4cd.dag.json
Library/Bee/Player59c1e4cd.dag
Library/Bee/Player59c1e4cd-inputdata.json
Library/Bee/fullprofile.json
Library/Bee/buildreport.json
Library/Bee/buildprogram0.traceevents
Library/Bee/backend2.traceevents
Library/Bee/backend1.traceevents
Library/Bee/artifacts/WinPlayerBuildProgram/boot.config
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.rsp
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.ref.dll
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
Library/Bee/1900b0aP.dag.json
Library/Bee/1900b0aESkipCompile.dag.json
Library/Bee/1900b0aE.dag_fsmtime
Library/Bee/1900b0aE.dag_derived
Library/Bee/1900b0aE.dag.payloads
Library/Bee/1900b0aE.dag.json
Library/Bee/1900b0aE.dag
Library/Bee/1900b0aE-inputdata.json
Library/Artifacts/fe/fe350dbdcfdd0c83c60998955e871899
Library/Artifacts/eb/eb913507830c66256bf09dc7a4140f2f
Library/Artifacts/90/90d530609c0ddc983179cd9e4b9634a5
Library/Artifacts/2e/2e32b6476acbb2b9e6babae86ea69390
Library/Artifacts/22/22f5a20ee45f981cb5b64effbf90f1db
Library/ArtifactDB
